body {
  font: 14px Helvetica, Sans-Serif;
  line-height: 20px;
  background-image:url(http://bgrepeat.com/128/128-29.jpg);background-repeat:repeat;
  color: #303030;
}

div {
    background: #00ffff0f;
    padding: 10px;
}

#container {
  width: 800px;
  margin: 40px auto 60px;
  background-color: #ffffff;
  padding: 40px;
}

div #contact:hover {
  transform: rotate(180deg);
  color: #ffffff;
  background: #000000;
}

#container:hover {
  transform: none;
}
div:hover {
  transform: rotate(-4deg);
}

.date {
  float: right;
}

a {
  text-decoration: none;
  color: #585858;
}

a:hover {
  color: #00ffff;
}

#contact, #professional-head{
  font: 28px Helvetica, Sans-Serif;
  font-weight: bold;
}

#contact-info {
  text-align: right;
}

#content-summary-content {
  margin: 16px 100px 16px 100px;
  font-style: italic;
  font-size: 20px;
}

h3 {
  font-style: italic;
}
